<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Evolute_Ble_Mac</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B942A75BB70C76665766286A2C839DDB27A718B3</string>
				<key>dateExpires</key>
				<string>22/04/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B942A75BB70C76665766286A2C839DDB27A718B3</string>
						<key>dateExpires</key>
						<string>22/04/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>EvoluteFramework.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J287W8AHQ3</string>
						<key>name</key>
						<string>Evolute Fintech Innovations Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.device.bluetooth</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-only</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Evolute_Ble_Mac.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>J287W8AHQ3</string>
				<key>name</key>
				<string>Evolute Fintech Innovations Private Limited</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1</string>
		</dict>
	</array>
</dict>
</plist>
